body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container{
    background-color: wheat;
    width: 50%;
    height: 120vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#recipes{
    margin: 20px;
    height: 100px;
}

a{
    color: black;
    padding: 12px;
    font-weight: bold;
    font-size: 15pt;
    transition: .3s;
}

a:hover{
    color: white;
}

nav{
    text-align: left;
}

#home{
    color: black;
    font-size: 17pt;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
}

#home:hover{
    color: wheat;
    background-color: black;
}

img{
    width: 400px;
    border-radius: 5px;
}

#restaurant{
    width: 800px;
}

section{
    text-align: left;
    margin: 20px;
}

p{
    color: wheat;
    border: 2px solid black;
    background-color: black;
    padding: 5px;
    font-weight: bolder;
    text-align: center;
}